  .focus circle {
      fill: none;
      stroke: steelblue;
  }
  
  .focusLine line {
      stroke-width: 2;
      stroke: black;
  }
  
  .wpLine {
      pointer-events: none;
  }
  
  .wp-text {
      pointer-events: none;
  }