  .focus circle {
      fill: none;
      stroke: steelblue;
  }
  
  .focusLine line {
      stroke-width: 2;
      stroke: black;
  }
  
  .wpLine {
      pointer-events: none;
  }
  
  .wp-text {
      pointer-events: none;
  }
  
  .tick, .tick text {
    fill: #fff;
  }


  .heightGraph {
      width: 26px !important;
      height: 26px;
      display: block;
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
      cursor: auto;
      background-color: #FFFFFF;
  }
  
  .heightGraph:before {
      content: "\f1fe";
      font-family: FontAwesome;
      color: #707070;
      position: absolute;
      z-index: -1;
      margin-top: 5px;
      margin-left: 6px;
  }
  
  .background {
      margin-left: 35px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
  }
  
  .heightGraph-collapsed .background {
      display: none;
  }
  
  .heightGraph-collapsed .elevation-toggle {
      display: block;
  }
  
  .d3-tip {
      z-index: 9999;
  }