/* container styles */
.background {
    background-color: #FFF;
    border-radius: 10px;
    display: none;
}

.heightgraph-toggle {
    cursor: pointer;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    background: #f8f8f9;
    display: block;
}

.heightgraph-toggle-icon {
    background: url(images/area-chart.svg) no-repeat center center;
    background-size: 14px 14px;
    width: 26px;
    height: 26px;
    position: absolute;

}

.heightgraph-close-icon {
    background: url(images/remove.svg) no-repeat center center;
    background-size: 14px 14px;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
}

.bars {
    fill-opacity: 0.9;
    shape-rendering: crispEdges;
}

.borderTop {
    stroke-width: 1;
    stroke: #444;
    fill: none;
}


/* d3 styles */
.focusLine line {
    stroke-width: 1;
    stroke: #444;
    display: none;
    cursor: default;
}

.wpLine {
    pointer-events: none;
    stroke-width: 2;
    stroke: black;
}

.wp-text {
    pointer-events: none;
    fill: white;
    font-size: 12px;
}

.legend-rect {
    pointer-events: none;
}

.legend-text {
    fill: #000;
    font-size: 10;
    text-align: right;
    pointer-events: none;
}

.tick, .tick text {
    fill: #000;
}


/* d3 tip styles */

.d3-tip {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1;
    padding: 4px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
    pointer-events: none;
    overflow: visible;
    z-index: 9999;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

.axisText {
    text-anchor: middle;
    color: #fff;
    fill: #fff;
}

.axis path {
    stroke: #000;
    fill: none;
    stroke-width: 1;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.focus {
    display: none;
    font-size: 10px;
    fill: #000;
        pointer-events: none;


}

.focus rect {
    fill: rgba(255,255,255,0.8);
    stroke-width: 1;
    stroke: #000;
        pointer-events: none;

}

.height-focus-label {
    pointer-events: none;
    visibility: visible;
    background-color: #888;
    fill: #000;
    font-size: 12px;
}

.height-focus.line {
    stroke: #444;
    stroke-width: 1;
    visibility: visible;
}

.height-focus.circle {
    stroke: #444;
}

.height-focus.circle-lower {
    weight: 1;
    visibility: visible;
}

.selection {
    position: absolute;
    top : 7px;
    left: 7px;
    z-index: 1;
    background: #FFF;
    color: #000;
    display: none;
}