/* container styles */

.heightGraph {
    width: 26px !important;
    height: 26px;
    display: block;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    background-color: #FFFFFF;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}

.heightGraph:before {
    content: "\f1fe";
    font-family: FontAwesome;
    color: #707070;
    position: absolute;
    z-index: -1;
    margin-top: 5px;
    margin-left: 6px;
}

.heightGraph .background {
    position: absolute;
    margin-left: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    shape-rendering: crispEdges;
}
.heightGraph .backgroundBox {
    position: absolute;
    margin-left: 35px;
    fill: transparent;
    border-radius: 10px;
    rx:10;
    ry:10;
    stroke: white;
    stroke-width: 4;

}
.heightGraph-collapsed .background {
    display: none;
}

.heightGraph-collapsed .elevation-toggle {
    display: block;
}

.bars {
    fill-opacity: 0.6;
}


/* d3 styles */

.focus rect {
    width: 53;
    height: 14;
    fill: #000;
}

.focusLine line {
    stroke-width: 1;
    stroke: black;
    fill: #fff;
    display: none;
    cursor: default;
}

.wpLine {
    pointer-events: none;
    stroke-width: 2;
    stroke: black;
}

.wp-text {
    pointer-events: none;
    fill: white;
    font-size: 12px;
}

.legend-rect {
    width: 6;
    height: 6;
}

.legend-text {
    fill: #fff;
    font-size: 9;
    text-align: right;
}

.tick, .tick text {
    fill: #fff;
}


/* d3 tip styles */

.d3-tip {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1;
    padding: 4px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
    pointer-events: none;
    overflow: visible;
    z-index: 9999;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

.legend-rect {
    pointer-events: none;
}

.legend-text {
    pointer-events: none;
}

.axisText {
    text-anchor: middle;
    color: #fff;
    fill: #fff;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.axis path {
    stroke: #fff;
    fill: none;
    stroke-width: 1;
}

.axis line {
    fill: white;
    stroke: white;
    shape-rendering: crispEdges;
}

.focus {
    display: none;
    font-size: 10px;
    background: black;
    fill: #fff;
}

.height-focus-label {
    pointer-events: none;
    visibility: visible;
    background-color: black;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    fill: white;
    font-size: 12px;
}

.height-focus.line {
    stroke: black;
    stroke-width: 1;
    opacity: 1;
    visibility: visible;
}
.height-focus.circle {
    stroke:black;
}

.height-focus.circle-lower {
    /*fill: #ff7800;*/
    color: "#000";
    weight: 1;
    opacity: 1;
    fillOpacity: 0.8;
    visibility: visible;
}
.height-focus-label-rect{
    width: 53;
    height: 14;
    fill: #000;
    visibility: visible;
}