/* container styles */

.background {
    background-color: #FFF;
    border-radius: 10px;
    display: none;
}

.heightgraph-toggle {
    cursor: pointer;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    background: #f8f8f9;
    display: block;
}

.heightgraph-toggle-icon {
    background: url(images/area-chart.svg) no-repeat center center;
    background-size: 14px 14px;
    width: 26px;
    height: 26px;
    position: absolute;
}

.heightgraph-close-icon {
    background: url(images/remove.svg) no-repeat center center;
    background-size: 14px 14px;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    display: none;
}

.bars {
    fill-opacity: 0.9;
    shape-rendering: crispEdges;
    pointer-events: none;
}

.bars-overlay {
    fill: none;
    pointer-events: all;
}

.borderTop {
    stroke-width: 1;
    stroke: #999;
    fill: none;
}


/* d3 styles */

.legend-rect {
    pointer-events: none;
}

.legend-text {
    fill: #000;
    font-size: 10;
    text-align: right;
    pointer-events: none;
}

.tick, .tick text {
    fill: #999;
}

.axis .tick line {
    visibility: hidden;
    pointer-events: none;
}

.AxisText {
    text-anchor: middle;
    color: #999;
    fill: #999;
}

.axis path {
    stroke: black;
    fill: none;
    stroke-width: 2px;
    shape-rendering: crispEdges;
    stroke: lightgrey;
    pointer-events: none;
}

.axis line {
    stroke: #999;
    pointer-events: none;
}

.focus {
    display: none;
    font-size: 10px;
    fill: #000;
    pointer-events: none;
}

.focus rect {
    fill: rgba(255, 255, 255, 0.8);
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: #888;
    pointer-events: none;
}

.focus text {
    font-size: 12px;
}

.height-focus.label text {
    font-size: 12px;
}

.focusLine line {
    stroke-width: 1px;
    stroke: rgb(20, 20, 20);
    display: none;
    cursor: default;
    shape-rendering: crispEdges;
}

.height-focus.label rect {
    fill: rgba(255, 255, 255, 0.5);
    stroke-width: 1px;
    stroke: #888;
    pointer-events: none;
    shape-rendering: crispEdges;
}

.height-focus.line {
    stroke: rgb(20, 20, 20);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.height-focus.circle {
    stroke: #444;
}

.height-focus.circle-lower {
    weight: 1;
    visibility: visible;
}

.selection {
    position: absolute;
    top: 8px;
    right: 25px;
    z-index: 1;
    background: #FFF;
    color: #000;
    display: none;
}

.grid .tick {
    stroke: #EEE;
    pointer-events: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
    pointer-events: none;
}